@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* -------------------------------------Menu--------------------------------------- */
#nav {
  width: 5vw;
  height: 100vh;
  background-color: rgb(246, 246, 242);
  display: flex;
  flex-direction: column;
  position: fixed;
  justify-content: center;
}

#nav .nav__link li {
  text-align: center;
}

#nav .nav__link li a {
  color: #2F334A;
}

#nav .nav__link li a i:hover {
  transform: scale(1.3);
  transition: 600ms;
  color: rgb(149, 52, 175);
}

#nav .nav__link li a i {
  font-size: 30px;
  height: 50px;
  line-height: 50px;
}

#nav .nav__link li a span {
  display: none; 
}


/* -------------------------------------Boton--------------------------------------- */
#switch {
  width: 5vw;
  height: 100vh; 
  position: fixed; 
  right: 0;
  top: 0;
  background-color: rgb(246, 246, 242);
  float: right;
  z-index: 1000;
}

#switch .switch__boton {
  border: none;
  position: relative;
  top: 1rem;
  left: 1rem;
  cursor: pointer;
  display: flex;
  outline: none;
}

#switch .switch__boton .switch__boton__label {
  display: inline-block;
  width: 55px;
  height: 30px;
  background-color: #aaa;
  border-radius: 100px;
  position: relative;
  cursor: pointer;
}

#switch .switch__boton #switch__boton__input:checked ~ .switch__boton__label {
  background-color: #61a0ff;
}

#switch .switch__boton .switch__boton__label:after {
  position: absolute;
  content: '';
  width: 22px;
  height: 22px;
  background-color: #fff;
  border-radius: 100px;
  top: 4px;
  left: 5px;
  transition: 0.3s;
  box-shadow: 1px 1px 3px black;
}

#switch .switch__boton #switch__boton__input:checked ~ .switch__boton__label:after {
  left: 28px;
}

#switch .switch__boton #switch__boton__input {
  display: none;
}


/* -------------------------------------Buscador--------------------------------------- */

#dashboard {
  width: 90vw;
  position: absolute;
  left: 5vw;
  background-color: rgb(246, 246, 242);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#dashboard:active {
  background-color: #343D5B;
}

#dashboard form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5vh;
}

#dashboard form .dashboard__form__input {
  width: 30%;
  height: 40px;
  border-radius: 5px;
  border: none;
  box-shadow: 2px 2px 10px black;
  margin: 10px;
  padding: 10px;
}

#dashboard form .dashboard__form__button {
  background-color: rgb(149, 52, 175);
  color: white;
  font-weight: 600;
  font-size: 1rem;
  border: none;
  height: 35px;
  width: 120px;
  border-radius: 5px;
  box-shadow: 2px 2px 7px rgb(73, 15, 91);
  margin: 10px;
}

#dashboard form .dashboard__form__button:hover {
  background-color: white;
  color: rgb(149, 52, 175);
  cursor: pointer;
}

/* -------------------------------------Dashboard--------------------------------------- */
#dashboard .dashboard__div {
  width: 80%;
}

#dashboard .dashboard__div h2 {
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1rem;
}

#dashboard .dashboard__div .dashboard__div__1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ---------------------------------Dashboard Panel------------------------------------ */
#dashboard .dashboard__div .dashboard__div__1 .dashboard__div__1__panel, .dashboard__div__2__panel {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  height: 100px;
}

#dashboard .dashboard__div .dashboard__div__1 .dashboard__div__1__panel div, .dashboard__div__2__panel div {
  width: 13%;
  /* background-color: red; */
  border-radius: 10px;
  box-shadow: 4px 4px 12px black;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: white;
  margin: 5px 0;
}

#dashboard .dashboard__div .dashboard__div__1 .dashboard__div__1__panel div p, .dashboard__div__2__panel div p {
  letter-spacing: 1px;
  font-size: 1.2rem;
}

#dashboard .dashboard__div .dashboard__div__1 .dashboard__div__1__panel div:hover, .dashboard__div__2__panel div:hover {
  box-shadow: 6px 6px 18px black;
}

/* ---------------------------------Dashboard Panel 1------------------------------------ */
.dashboard__div__1__panel div:nth-child(1) {
  background-color: #3DAC63;
}
.dashboard__div__1__panel div:nth-child(2) {
  background-color: #E97E42;
}
#dashboard .dashboard__div .dashboard__div__1__panel div:nth-child(3) {
  background-color: #E9E242;
  color: black;
}
.dashboard__div__1__panel div:nth-child(4) {
  background-color: #4C87DF;
}
.dashboard__div__1__panel div:nth-child(5) {
  background-color: #B74FDB;
}
.dashboard__div__1__panel div:nth-child(6) {
  background-color: #D34343;
}

/* ---------------------------------Dashboard Tabla------------------------------------ */
#dashboard .dashboard__div .dashboard__div__1 .dashboard__div__1__tabla, .dashboard__div__2__tabla {
  width: 90%;
  margin: 0 auto;
  background-color: white;
  margin: 2rem 0;
  border-radius: 10px; 
  box-shadow: 4px 4px 4px rgb(81, 77, 77);
  font-size: 16px;
}

#dashboard .dashboard__div .dashboard__div__1 .dashboard__div__1__tabla table, .dashboard__div__2__tabla table {
  border-collapse: collapse;
  padding: 10px;
  border-radius: 10px; 
}

/* #dashboard .dashboard__div .dashboard__div__1 .dashboard__div__1__tabla table thead {
  border: 1px black;
  border-radius: 5px;
} */

#dashboard .dashboard__div .dashboard__div__1 .dashboard__div__1__tabla table thead tr, .dashboard__div__2__tabla table thead tr {
  background-color: #3DAC63;
  color: white; 
  text-align: center;
}

#dashboard .dashboard__div .dashboard__div__1 .dashboard__div__1__tabla table td, .dashboard__div__2__tabla table td {
  border-bottom: 1px solid rgb(212, 208, 208);
}

#dashboard .dashboard__div .dashboard__div__1 .dashboard__div__1__tabla table thead tr th, .dashboard__div__2__tabla table thead tr th {
  width: 100%;
  padding: 10px 20px;
}

#dashboard .dashboard__div .dashboard__div__1 .dashboard__div__1__tabla table tbody tr td, .dashboard__div__2__tabla table tbody tr td {
  padding: 4px 20px;
  text-align: right;
}

#dashboard .dashboard__div .dashboard__div__1 .dashboard__div__1__tabla table tbody tr:hover, .dashboard__div__2__tabla table tbody tr:hover {
  background-color: #92969b;
  cursor: pointer;
}

#dashboard .dashboard__div .dashboard__div__1 .dashboard__div__1__tabla table tbody tr td:nth-child(1), .dashboard__div__2__tabla table tbody tr td:nth-child(1) {
  text-align: left;
  font-weight: 700;
}

/* ---------------------------------Dashboard Tabla 1------------------------------------ */
/* #dashboard__div__1__tabla1 table tbody tr:nth-child(3), tr:nth-child(10), tr:nth-child(12), tr:nth-child(14) {
  background-color: #92959b;
  color: white; 
}   */

/* #dashboard .dashboard__div .dashboard__div__1 #dashboard__div__1__tabla1 table tbody tr:nth-child(2), tr:nth-child(4), tr:nth-child(5), tr:nth-child(6),tr:nth-child(8), tr:nth-child(9), tr:nth-child(13) {
  color: #D34343;
} */
#dashboard .dashboard__div .dashboard__div__1 #dashboard__div__1__tabla1 table tbody tr:nth-child(4) td:nth-child(1) {
  padding-left: 40px;
}
#dashboard .dashboard__div .dashboard__div__1 #dashboard__div__1__tabla1 table tbody tr:nth-child(5) td:nth-child(1) {
  padding-left: 40px;
}


/* ---------------------------------Dashboard Graficos 1------------------------------------ */
#dashboard .dashboard__div .dashboard__div__1 .dashboard__div__1__graficos {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(25, 3.04%);
  grid-template-rows: repeat(22, 50px);
  grid-gap: 1%;
}

#dashboard .dashboard__div .dashboard__div__1 .dashboard__div__1__graficos div {
  border-radius: 15px;
  box-shadow: 2px 2px 10px black;
  width: 100%;
  height: 100%;
}

#dashboard .dashboard__div .dashboard__div__1 .dashboard__div__1__graficos div:hover {
  box-shadow: 4px 4px 15px rgb(19, 90, 33);
  cursor: pointer;
}

#dashboard .dashboard__div .dashboard__div__1 .dashboard__div__1__graficos div:nth-child(1) {
  grid-column: 1/13;
  grid-row: 1/6;
}
#dashboard .dashboard__div .dashboard__div__1 .dashboard__div__1__graficos div:nth-child(2) {
  grid-column: 14/26;
  grid-row: 1/6;
}
#dashboard .dashboard__div .dashboard__div__1 .dashboard__div__1__graficos div:nth-child(3) {
  grid-column: 1/13;
  grid-row: 7/12;
}
#dashboard .dashboard__div .dashboard__div__1 .dashboard__div__1__graficos div:nth-child(4) {
  grid-column: 14/26;
  grid-row: 7/12;
}
#dashboard .dashboard__div .dashboard__div__1 .dashboard__div__1__graficos div:nth-child(5) {
  grid-column: 1/13;
  grid-row: 13/18;
}
#dashboard .dashboard__div .dashboard__div__1 .dashboard__div__1__graficos div:nth-child(6) {
  grid-column: 14/26;
  grid-row: 13/18;
}

/* ---------------------------------Dashboard Panel 2------------------------------------ */
#dashboard .dashboard__div .dashboard__div__1 #dashboard__div__2__panel div:nth-child(3) {
  background-color: #4C87DF;
  color: white;
}
#dashboard .dashboard__div .dashboard__div__1 #dashboard__div__2__panel div:nth-child(4) {
  background-color: #D34343;
}

/* ---------------------------------Dashboard Tabla 2------------------------------------ */
#dashboard .dashboard__div .dashboard__div__1 #dashboard__div__1__tabla2 table td {
  color: black;
}

#dashboard .dashboard__div .dashboard__div__1 #dashboard__div__1__tabla2 table thead tr {
  background-color: #4C87DF;
  color: white;
  text-align: center;
}
/* #dashboard .dashboard__div .dashboard__div__1 #dashboard__div__1__tabla2 table tbody tr:nth-child(10), tr:nth-child(12), tr:nth-child(14) {
  background-color: white;
}  */

/* #dashboard__div__1__tabla2 > table > tbody > tr:nth-child(1), tr:nth-child(2), tr:nth-child(8), tr:nth-child(14), tr:nth-child(15), tr:nth-child(16), tr:nth-child(22), tr:nth-child(27) {
  background-color: #92959b;
  /* color: white; */
/* }   */

#dashboard .dashboard__div .dashboard__div__1 #dashboard__div__1__tabla2 table tbody tr:nth-child(1) td:nth-child(1), tr:nth-child(14) td:nth-child(1), tr:nth-child(15) td:nth-child(1), tr:nth-child(27) td:nth-child(1) {
  padding-left: 60px;
}
#dashboard .dashboard__div .dashboard__div__1 #dashboard__div__1__tabla2 table tbody tr:nth-child(2) td:nth-child(1), tr:nth-child(8) td:nth-child(1), tr:nth-child(16) td:nth-child(1), tr:nth-child(22) td:nth-child(1) {
  padding-left: 40px;
}


/* ---------------------------------Dashboard Graficos 2------------------------------------ */
#dashboard .dashboard__div .dashboard__div__1 .dashboard__div__2__graficos {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(25, 3.04%);
  grid-template-rows: repeat(42, 50px);
  grid-gap: 1%;
}

#dashboard .dashboard__div .dashboard__div__1 .dashboard__div__2__graficos div {
  border-radius: 15px;
  box-shadow: 2px 2px 10px black;
  width: 100%;
  height: 100%;
}

#dashboard .dashboard__div .dashboard__div__1 .dashboard__div__2__graficos div:hover {
  box-shadow: 4px 4px 15px rgb(19, 90, 33);
  cursor: pointer;
}
#dashboard .dashboard__div .dashboard__div__1 .dashboard__div__2__graficos div:nth-child(1) {
  grid-column: 1/13;
  grid-row: 1/6;
}
#dashboard .dashboard__div .dashboard__div__1 .dashboard__div__2__graficos div:nth-child(2) {
  grid-column: 14/26;
  grid-row: 1/6;
}
#dashboard .dashboard__div .dashboard__div__1 .dashboard__div__2__graficos div:nth-child(3) {
  grid-column: 1/13;
  grid-row: 7/12;
}
#dashboard .dashboard__div .dashboard__div__1 .dashboard__div__2__graficos div:nth-child(4) {
  grid-column: 14/26;
  grid-row: 7/12;
}
#dashboard .dashboard__div .dashboard__div__1 .dashboard__div__2__graficos div:nth-child(5) {
  grid-column: 1/13;
  grid-row: 13/18;
}
#dashboard .dashboard__div .dashboard__div__1 .dashboard__div__2__graficos div:nth-child(6) {
  grid-column: 14/26;
  grid-row: 13/18;
}
#dashboard .dashboard__div .dashboard__div__1 .dashboard__div__2__graficos div:nth-child(7) {
  grid-column: 1/13;
  grid-row: 19/24;
}
#dashboard .dashboard__div .dashboard__div__1 .dashboard__div__2__graficos div:nth-child(8) {
  grid-column: 14/26;
  grid-row: 19/24;
}
#dashboard .dashboard__div .dashboard__div__1 .dashboard__div__2__graficos div:nth-child(9) {
  grid-column: 1/13;
  grid-row: 25/30;
}
#dashboard .dashboard__div .dashboard__div__1 .dashboard__div__2__graficos div:nth-child(10) {
  grid-column: 14/26;
  grid-row: 25/30;
}

/* ---------------------------------Dashboard Panel 3------------------------------------ */
#dashboard .dashboard__div .dashboard__div__1 #dashboard__div__3__panel div, .dashboard__div__2__panel div {
  width: 20%;
  height: 100px;
}

#dashboard .dashboard__div .dashboard__div__1 #dashboard__div__3__panel div:nth-child(3) {
  background-color: #4C87DF;
  color: white;
}
#dashboard .dashboard__div .dashboard__div__1 #dashboard__div__3__panel div:nth-child(4) {
  background-color: #B74FDB;
}


/* ---------------------------------Dashboard Tabla 3------------------------------------ */
#dashboard .dashboard__div .dashboard__div__1 #dashboard__div__1__tabla3 table td {
  color: black;
}

#dashboard .dashboard__div .dashboard__div__1 #dashboard__div__1__tabla3 table thead tr {
  background-color: #B74FDB;
  /* color: white;
  text-align: center; */
}
/* #dashboard .dashboard__div .dashboard__div__1 #dashboard__div__1__tabla3 table tbody tr:nth-child(8), tr:nth-child(10), tr:nth-child(12), tr:nth-child(14), tr:nth-child(15), tr:nth-child(16), tr:nth-child(22), tr:nth-child(24), tr:nth-child(30) {
  background-color: white;
} */

/* #dashboard .dashboard__div .dashboard__div__1 #dashboard__div__1__tabla3 table tbody tr:nth-child(1), tr:nth-child(2), tr:nth-child(12), tr:nth-child(18), tr:nth-child(24) {
  background-color: #92959b;
  color: white;
} */

/* #dashboard .dashboard__div .dashboard__div__1 #dashboard__div__1__tabla3 table tbody tr:nth-child(1) td:nth-child(1), tr:nth-child(14) td:nth-child(1), tr:nth-child(15) td:nth-child(1), tr:nth-child(27) td:nth-child(1) {
  padding-left: 60px;
} */
#dashboard .dashboard__div .dashboard__div__1 #dashboard__div__1__tabla3 table tbody tr:nth-child(1) td:nth-child(1), tr:nth-child(2) td:nth-child(1), tr:nth-child(12) td:nth-child(1), tr:nth-child(18) td:nth-child(1), tr:nth-child(24) td:nth-child(1) {
  padding-left: 40px;
} 

/* ---------------------------------Dashboard Graficos 3------------------------------------ */
#dashboard .dashboard__div .dashboard__div__1 .dashboard__div__3__graficos {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(25, 3.04%);
  grid-template-rows: repeat(14, 50px);
  grid-gap: 1%;
}

#dashboard .dashboard__div .dashboard__div__1 .dashboard__div__3__graficos div {
  border-radius: 15px;
  box-shadow: 2px 2px 10px black;
  width: 100%;
  height: 100%;
}

#dashboard .dashboard__div .dashboard__div__1 .dashboard__div__3__graficos div:hover {
  box-shadow: 4px 4px 15px rgb(19, 90, 33);
  cursor: pointer;
}
#dashboard .dashboard__div .dashboard__div__1 .dashboard__div__3__graficos div:nth-child(1) {
  grid-column: 1/13;
  grid-row: 1/6;
}
#dashboard .dashboard__div .dashboard__div__1 .dashboard__div__3__graficos div:nth-child(2) {
  grid-column: 14/26;
  grid-row: 1/6;
}
#dashboard .dashboard__div .dashboard__div__1 .dashboard__div__3__graficos div:nth-child(3) {
  grid-column: 1/13;
  grid-row: 7/12;
}
#dashboard .dashboard__div .dashboard__div__1 .dashboard__div__3__graficos div:nth-child(4) {
  grid-column: 14/26;
  grid-row: 7/12;
}

/* ---------------------------------Dashboard Panel Rentabilidad------------------------------------ */
#dashboard .dashboard__div .dashboard__div__1 #dashboard__div__4__panel {
  flex-wrap: wrap;
  height: 300px;
  width: 80%;
  
}

#dashboard .dashboard__div .dashboard__div__1 #dashboard__div__4__panel div {
  height: 120px;
  width: 21%; 
}

#dashboard .dashboard__div .dashboard__div__1 #dashboard__div__4__panel div:nth-child(1), #dashboard__div__4__panel div:nth-child(11), #dashboard__div__4__panel div:nth-child(14), #dashboard__div__4__panel div:nth-child(17) {
  background-color: #E97E42;
}
#dashboard .dashboard__div .dashboard__div__1 #dashboard__div__4__panel div:nth-child(2), #dashboard__div__4__panel div:nth-child(8), #dashboard__div__4__panel div:nth-child(20), #dashboard__div__4__panel div:nth-child(25) {
  background-color: #4C87DF;
}
#dashboard .dashboard__div .dashboard__div__1 #dashboard__div__4__panel div:nth-child(3), #dashboard__div__4__panel div:nth-child(22), #dashboard__div__4__panel div:nth-child(24) {
  background-color: #B74FDB;
}
#dashboard .dashboard__div .dashboard__div__1 #dashboard__div__4__panel div:nth-child(4), #dashboard__div__4__panel div:nth-child(12), #dashboard__div__4__panel div:nth-child(13), #dashboard__div__4__panel div:nth-child(18) {
  background-color: #D34343;
}
#dashboard .dashboard__div .dashboard__div__1 #dashboard__div__4__panel div:nth-child(5), #dashboard__div__4__panel div:nth-child(6), #dashboard__div__4__panel div:nth-child(9), #dashboard__div__4__panel div:nth-child(10), #dashboard__div__4__panel div:nth-child(16), #dashboard__div__4__panel div:nth-child(23) {
  background-color: #E9E242;
  color: black;
}
#dashboard .dashboard__div .dashboard__div__1 #dashboard__div__4__panel div:nth-child(7), #dashboard__div__4__panel div:nth-child(15), #dashboard__div__4__panel div:nth-child(19), #dashboard__div__4__panel div:nth-child(21), #dashboard__div__4__panel div:nth-child(25) {
  background-color: #3DAC63;
}



@media screen and (max-width: 768px){
  /* ---------------------------------Dashboard Panel Rentabilidad------------------------------------ */
  #dashboard .dashboard__div .dashboard__div__1 #dashboard__div__4__panel {
    width: 90%;
    margin-bottom: 2rem;
}
}

/* -------------------------Boton-------------------------- */

/* .home-section .home-content .switch {
  background: #343D5B;
  border-radius: 1000px;
  border: none;
  position: relative;
  cursor: pointer;
  display: flex;
  outline: none;
}
.home-section .home-content .switch::after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  background: #f1f1f1;
  top: 0;
  left: 0;
  right: unset;
  border-radius: 100px;
  transition: .3s ease all;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, .2);
}
.home-section .home-content .switch:active {
  background: orange;
  color: #000;
}
.home-section .home-content .switch:active::after {
  right: 0;
  left: unset;
}
.home-section .home-content .switch span {
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: block;
  background: none;
  color: #fff;
}

.home-section:active{
  background: white;
} */


/* ------------------------RESUMEN------------------------- */
/* #resumen__dash div table th, td {
  font-weight: bolder;
  text-align: left;
  border-bottom: 1px solid #2F334A;
  color: white;
  padding: 10px 20px;
}

#resumen__dash div table tbody tr:nth-child(even) {
  background-color: #2F334A;
} */



